@model web_odev3.Models.Haber

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Haber</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.haber_resmi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.haber_resmi)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.haber_yazisi)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.haber_yazisi)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.haber_turu)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.haber_turu)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.haber_baslik)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.haber_baslik)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.HaberID }) |
        @Html.ActionLink("Admin Sayfasi", "AdminPage", "Home", null, null)
    </p>
</body>
</html>
